@import (reference) "./flex-utils.less";

/**
 * Specific Layout
 */

.app-root {
	.full-window;
	.flex-row;
	.flex-children-fill;
}



.main-controls {
	.flex-column;
	.flex-padded;

	flex: 0 1 200px;
}



.timing-controls {
	.flex-padded-nested;
	.flex-fixed;

	.flex-row;
	.flex-padded;
}



.animal-selection-controls {
	.flex-grow;

	position: relative;
	overflow: scroll;
}

	.animal-selection-controls--populated {
		.flex-column;
		.flex-children-fill;
	}

.animal-selection-controls__message {
	.flex-column;
	.flex-children-center;

	position: absolute;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.animal-selection-controls__panel {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.animal-selection-controls__list {}



.app-image {
	.flex-column;
}



.image-pane {
	.flex-grow;

	flex: 1 1 auto;
}

	.image-pane--idle {
		.flex-row;
		.flex-children-fill;
	}

	.image-pane--running {
		.flex-row;
		.flex-children-fill;
		.flex-padded;
	}

.image-pane__empty-icon {
	.flex-row;
	.flex-children-center;

}

.image-pane__empty-icon-glyphicon {
	font-size: 3em;
}

.image-pane__image {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.image-controls {
	.flex-row;
	.flex-padded;
	.flex-children-fill;
}
